@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-cairo: var(--font-cairo);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-primary-light: var(--primary-light);
  --color-primary-light-hover: var(--primary-light-hover);
  --color-primary-normal: var(--primary-normal);
  --color-primary-normal-hover: var(--primary-normal-hover);
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-hover: var(--primary-dark-hover);
  --color-primary-darker: var(--primary-darker);
  --color-secondery-light: var(--secondery-light);
  --color-secondery-light-hover: var(--secondery-light-hover);
  --color-secondery-normal: var(--secondery-normal);
  --color-secondery-normal-hover: var(--secondery-normal-hover);
  --color-secondery-dark: var(--secondery-dark);
  --color-secondery-dark-hover: var(--secondery-dark-hover);
  --color-secondery-darker: var(--secondery-darker);
}

:root {
  --primary-light: #e9f4f5;
  --primary-light-hover: #deeef0;
  --primary-normal: #208E9A;
  --primary-normal-hover: #1d808b;
  --primary-dark: #186b74;
  --primary-dark-hover: #13555c;
  --primary-darker: #0b3236;
  --secondery-light: #fff9f2;
  --secondery-light-hover: #fff6eb;
  --secondery-normal: #ffc27a;
  --secondery-normal-hover: #e6af6e;
  --secondery-dark: #bf925c;
  --secondery-dark-hover: #997449;
  --secondery-darker: #59442b;
}


@layer base {
}
.hero-bg {
  background-image: url('/assets/shared/heroBg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}