@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-cairo: var(--font-cairo);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-primary-light: var(--primary-light);
  --color-primary-light-hover: var(--primary-light-hover);
  --color-primary-normal: var(--primary-normal);
  --color-primary-normal-hover: var(--primary-normal-hover);
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-hover: var(--primary-dark-hover);
  --color-primary-darker: var(--primary-darker);
  --color-secondery-light: var(--secondery-light);
  --color-secondery-light-hover: var(--secondery-light-hover);
  --color-secondery-normal: var(--secondery-normal);
  --color-secondery-normal-hover: var(--secondery-normal-hover);
  --color-secondery-dark: var(--secondery-dark);
  --color-secondery-dark-hover: var(--secondery-dark-hover);
  --color-secondery-darker: var(--secondery-darker);
}

:root {
  --primary-light: #e9f4f5;
  --primary-light-hover: #deeef0;
  --primary-normal: #208E9A;
  --primary-normal-hover: #1d808b;
  --primary-dark: #186b74;
  --primary-dark-hover: #13555c;
  --primary-darker: #0b3236;
  --secondery-light: #fff9f2;
  --secondery-light-hover: #fff6eb;
  --secondery-normal: #ffc27a;
  --secondery-normal-hover: #e6af6e;
  --secondery-dark: #bf925c;
  --secondery-dark-hover: #997449;
  --secondery-darker: #59442b;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Navbar Hover Animation (STC Solutions Style) */
  .nav-animate {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 2px;
    color: transparent;
  }

  .nav-animate::before,
  .nav-animate::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    transition: transform .3s ease;
    white-space: nowrap;
  }

  .nav-animate::before {
    top: 0;
    color: rgba(255, 255, 255, 0.85);
    transform: translateY(0);
  }

  .nav-animate::after {
    top: 0;
    color: #00e0d3;
    /* hover color */
    transform: translateY(100%);
  }

  .nav-animate:hover::before {
    transform: translateY(-100%);
  }

  .nav-animate:hover::after {
    transform: translateY(0);
  }

}